# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
.next

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints
notebook/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Docker
Dockerfile
.dockerignore

# Virtual environment
venv/
ENV/ 